*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #dcdcdc
}

.start_btn,
.info_box, 
.quiz_box,
.result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    border-radius: 5px;
    padding: 15px 30px;
    outline: none;
    border: none;
    background: #fff;
    cursor: pointer;
}

.info_box {
    width: 540px;
    background: #fff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info_box .info_title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    align-items: center;
    padding: 0 170px;
    font-size: 20px;
    font-weight: 1000;
}

.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info {
    margin: 20px 0;
    font-size: 17px;
}

.info_box .info_list .info span {
    font-weight: 1000;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid #d3d3d3;
}

.info_box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 400px; 
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer; 
    /* Add transition element */
}


button.continue:hover {
    color:#008000;
    border: 2px solid #008000;
}

button.quit:hover {
    color:#ff0000;
    border: 2px solid #ff0000;
}

.quiz_box {
    width: 550px;
    background: #fff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz_box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
}
.quiz_box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #d3d3d3;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 0 8px;
    font-weight: 600;
}

.quiz_box header .timer .time_text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec {
    font-size: 18px;
    font-weight: 600;
    background: #ff7f50;
    height: 30px;
    width: 45px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #ff7f50;
    user-select: none;
}

.quiz_box header .time_line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #ff7f50;
}

.quiz_box section {
    padding: 30px 30px 30px 30px;
    background: #fff;
}

.quiz_box section .que_text {
    font-size: 25px;
    font-weight: 1000;
}

.quiz_box section .option_list {
    padding: 25px 0;
    display: block;
    font-size: 15px;
    /* add font sizing to the questions box - increase the font size if needed */
}

section .option_list .option {
    background: #f5f5f5;
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    padding: 10px 17px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .option_list .option:hover {
    color: #d3d3d3;
    background: #000000;
    border-color: #d3d3d3;
}
section .option_list .option:last-child {
    margin-bottom: 0px;
}

.option_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.option_list .option.correct {
    color:#008000;
    border-color: #008000;  
    background:#d4edda;
}

.option_list .option.incorrect {
    color: #ff6347;
    border-color: #ff6347;  
    background:#f8d7da;
}


.option_list .option.disabled {
    pointer-events: none;
}

.quiz_box footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total_que span {
    display: flex;
    user-select: none;

}

footer .total_que span p {
    font-weight: 1000;
    padding: 0 5px;
}

footer .total_que span p:first-child {
    padding-left: 0px;
}

footer .next_btn {
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    background: #d3d3d3;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next_btn:hover {
    color:#008000;
    border: 2px solid #008000;
}

.result_box {
    background: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9); 
}

.result_box .complete_text {
    font-size: 20px;
    font-weight: 1000;
    margin: 10px 0px;
}

.result_box .score_text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.score_text span p {
    font-weight: 600;
    padding: 0 4px;
}

.result_box .buttons {
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button {
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    transition: all 0.3s ease;
}
