*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #dcdcdc
}

.start_btn,
.info_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    border-radius: 5px;
    padding: 15px 30px;
    outline: none;
    border: none;
    background: #fff;
    cursor: pointer;
}

.info_box {
    width: 540px;
    background: #fff;
    border-radius: 5px;
}

.info_box .info_title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    align-items: center;
    padding: 0 170px;
    font-size: 20px;
    font-weight: 1000;
}

.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info {
    margin: 20px 0;
    font-size: 17px;
}

.info_box .info_list .info span {
    font-weight: 1000;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid #d3d3d3;
}

.info_box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 400px; 
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

button.continue:hover {
    color: #000000;
    border-color: #000000;
}

button.quit:hover {
    color: #000000;
    border-color: #000000;
}